<head>
    <meta charset="utf-8">
    <title>Fridge.io</title>
    <meta content="powered by Meteor." name="description">
    <meta content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" name="viewport"/>
    <link href="favicon.png?v1" rel="shortcut icon" sizes="16x16 32x32 64x64" type="image/png">
    <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon" sizes="120x120">
</head>
