* {
    .box-sizing(border-box);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; // for some Androids
}
html,
button,
input,
textarea,
select {
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    .type-regular;
    color: @color-full;
    font-size: 16px; //this sets the baseline so we can use multiples of 4 & (r)ems
}

// Default type layout
h1,
h2,
h3,
h4,
h5,
h6 {
    .type-regular;
    margin: 0;
    padding: 0;
}
h1 {
    .font-l1;
}
h2 {
    .font-m3;
}
h3 {
    .font-m2;
}
h4 {
    .font-m1;
}
h5 {
    .font-s2;
    color: @color-medium-rare;
    text-transform: uppercase;
}
h6 {
    color: @color-medium;
}
p {
    .font-s3;
}
sub,
sup {
    font-size: 0.8em;
}
sub {
    bottom: -.2em;
}
sup {
    top: -.2em;
}
b {
    font-weight: bold;
}
em {
    font-style: italic;
}
