@font-face {
    font-family: "todos";
    src: url("icon/todos.eot?-5w3um4");
    src: url("icon/todos.eot?#iefix5w3um4") format('embedded-opentype'), url("icon/todos.woff?5w3um4") format('woff'), url("icon/todos.ttf?5w3um4") format('truetype'), url("icon/todos.svg?5w3um4#todos") format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: "todos";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-unlock:before {
    content: "\e600";
}
.icon-user-add:before {
    content: "\e604";
}
.icon-cog:before {
    content: "\e606";
}
.icon-trash:before {
    content: "\e607";
}
.icon-edit:before {
    content: "\e608";
}
.icon-add:before {
    content: "\e60a";
}
.icon-plus:before {
    content: "\e60b";
}
.icon-close:before {
    content: "\e60c";
}
.icon-cross:before {
    content: "\e60d";
}
.icon-sync:before {
    content: "\e60e";
}
.icon-lock:before {
    content: "\e610";
}
.icon-check:before {
    content: "\e612";
}
.icon-share:before {
    content: "\e617";
}
.icon-email:before {
    content: "\e619";
}
.icon-arrow-up:before {
    content: "\e623";
}
.icon-arrow-down:before {
    content: "\e626";
}
.icon-list-unordered:before {
    content: "\e634";
}
