a {
    .transition( all 200ms ease-in );
    color: @color-secondary;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: darken(@color-primary, 10%);
    }
    &:active {
        color: @color-well;
    }
    &:focus {
        outline: none;
    }
    //removes FF dotted outline
}
