#menu {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .btns-group,
    .btns-group-vertical {
        margin: 2em auto;
        width: 80%;
        .btn-secondary {
            .font-s1;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
    .btns-group-vertical .btn-secondary {
        .force-wrap;
        padding-right: 2.5em;
        text-align: left;
        text-indent: 0;
        white-space: normal; // Resets wrapping
        width: 100%;
        & + .btn-secondary {
            margin-top: 0.5rem;
            &:before {
                .position(absolute, -.5rem, 50%, auto, auto, 1px, .5rem);
                background: lighten(#517096, 5%);
                content: "";
            }
        }
        [class^="icon-"],
        [class*=" icon-"] {
            .position(absolute, .5em, .5em, auto, auto);
            line-height: 20px;
        }
    }
    .list-todos {
        a {
            box-shadow: rgba(255,255,255,.15) 0 1px 0 0;
            display: block;
            line-height: 1.5em;
            padding: 0.75em 2.5em;
            position: relative;
        }
        [class^="icon-"],
        [class*=" icon-"] {
            .font-s2;
            float: left;
            margin-left: -1.5rem;
            margin-right: 0.5rem;
            margin-top: 0.1rem;
            width: 1em;
        }
        .icon-lock {
            .font-s1;
            margin-top: 0.2rem;
            opacity: 0.8;
        }
        .list-todo {
            color: rgba(255,255,255,.4);
            &:hover,
            &:active,
            &.active {
                color: @color-empty;
            }
            .cordova &:hover {

                // Prevent hover states from being noticeable on Cordova apps
                color: rgba(255,255,255,.4);
            }
        }
    }
}
