// Empty states and 404 messages
.wrapper-message {
    .position(absolute, 45%, 0, auto, 0);
    .transform(translate3d(0, -50%, 0));
    text-align: center;
    .title-message {
        .font-m2;
        .type-light;
        color: @color-ancillary;
        margin-bottom: 0.5em;
    }
    .subtitle-message {
        .font-s2;
        color: @color-medium;
    }
}
