<template name="appBody">
    <div class="{{menuOpen}} {{cordova}}" id="container">
        <section id="menu">
            <div style="margin: 15px">
                {{#if currentUser}}
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-info" disabled="disabled" type="button">{{emailLocalPart}}</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default js-logout" type="button">Wyloguj</button>
                        </div>
                    </div>
                    {{else}}
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" href="{{pathFor 'signin'}}">Zaloguj się</a>
                        <a class="btn btn-success" href="{{pathFor 'join'}}">Zarejestruj się</a>
                    </div>
                {{/if}}
            </div>

            <div class="list-todos">
                <a class="js-new-list link-list-new">
                    <span class="icon-plus"></span>
                    Nowa lodówka
                </a>

                {{#each lists}}
                    <a class="list-todo {{activeListClass}}" href="{{pathFor 'fridgeShow'}}" title="{{name}}">
                        {{#if users}}
                            <span class="icon-lock"></span>
                        {{/if}}
                        {{name}}
                        {{#if products}}
                            <span class="badge">{{products.length}}</span>
                        {{/if}}
                    </a>
                {{/each}}

            </div>
        </section>

        {{#unless connected}}
            <div class="notifications">
                <div class="notification">
                    <span class="icon-sync"></span>
                    <div class="meta">
                        <div class="title-notification">Trying to connect</div>
                        <div class="description">There seems to be a connection issue</div>
                    </div>
                </div>
            </div>
        {{/unless}}

        <div class="content-overlay"></div>

        <div id="content-container">
            {{#each thisArray}}
                {{> yield}}
            {{/each}}
        </div>
    </div>
</template>
