<template name="appNotFound">
    <div class="page not-found">
        <nav>
            <div class="nav-group">
                <a class="js-menu nav-item" href="#">
                    <span class="icon-list-unordered"></span>
                </a>
            </div>
        </nav>

        <div class="content-scrollable">
            <div class="wrapper-message">
                <div class="title-message">Page not found</div>
            </div>
        </div>
    </div>
</template>
