<template name="signin">
    <div class="page auth">
        <nav>
            <div class="nav-group">
                <a class="js-menu nav-item" href="#">
                    <span class="icon-list-unordered"></span>
                </a>
            </div>
        </nav>

        <div class="content-scrollable">
            <div class="wrapper-auth">
                <h1 class="title-auth">Zaloguj się.</h1>

                <form>
                    {{#if errorMessages}}
                        <div class="list-errors">
                            {{#each errorMessages}}
                                <div class="list-item">{{this}}</div>
                            {{/each}}
                        </div>
                    {{/if}}

                    <div class="input-symbol {{errorClass 'email'}}">
                        <input name="email" placeholder="Your Email" type="email"/>
                        <span class="icon-email" title="Email"></span>
                    </div>

                    <div class="input-symbol {{errorClass 'password'}}">
                        <input name="password" placeholder="Password" type="password"/>
                        <span class="icon-lock" title="Hasło"></span>
                    </div>

                    <button class="btn-primary" type="submit">Zaloguj</button>
                </form>
            </div>

            <a class="link-auth-alt" href="{{pathFor 'join'}}">Nie jesteś zarejestrowany? Zarejestruj się teraz.</a>
        </div>
    </div>
</template>
