<template name="fridgeOptions">
    <div class="fridge-options">
        <div class="fridge-list">
            <div class="container-fluid">
                <div class="checkbox">
                    <label>
                        {{#if isPrivate}}
                            <input checked class="js-fridge-private-checkbox" type="checkbox">
                            {{else}}
                            <input class="js-fridge-private-checkbox" type="checkbox">
                        {{/if}}
                        Prywatna
                    </label>
                </div>
                {{#if isPrivate}}
                    <div class="panel panel-default">
                        <div class="panel-heading">Dodaj innych użytkowników</div>
                        <div style="margin: 15px;">
                            <div class="form-group">
                                <input class="form-control" id="add-fridge-user" placeholder="Email" type="text"/>
                            </div>
                            <button class="btn btn-default btn-sm js-fridge-add-user" type="submit">Dodaj</button>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Użytkownicy, ktorzy mają dostęp do danej lodówki</div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each getUsers}}
                                    <tr>
                                        <td>{{@index}}</td>
                                        <td>{{emails.[0].address}}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm js-fridge-delete-user" style="float: right;" type="submit">usuń</button>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{/if}}
                <hr/>
                <button class="btn btn-danger js-fridge-delete" type="submit">Usuń</button>
            </div>
        </div>
    </div>
</template>
