<template name="fridgeProducts">
    <div class="list-items">
        {{#if fridgeReady}}
            {{#with _id}}
                <div class="fridge-list list">
                    <div class="container-fluid">
                        {{#each fridgeCategories}}
                            <ol class="breadcrumb">
                                <li>
                                    <b>{{this}}</b>
                                </li>
                            </ol>
                            <div class="row">
                                {{#each fridgeProducts this}}
                                    <div class="fridge-product col-md-2 col-sm-4 col-xs-6 text-center" style="margin-bottom: 15px;" >
                                        <img alt="{{name}}" class="img-responsive" src="{{src}}" style="margin: 0 auto;"/>
                                        <section>{{name}}</section>
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/with}}
            {{else}}
            <div class="wrapper-message">
                <div class="title-message">Loading...</div>
            </div>
        {{/if}}
    </div>
</template>
