<template name="fridgeShow">
    <div class="page lists-show">
        <nav class="js-title-nav">
            {{#if editing}}
                <form class="js-edit-form list-edit-form">
                    <input name="name" type="text" value="{{name}}">
                    <div class="nav-group right">
                        <a class="js-cancel nav-item" href="#">
                            <span class="icon-close js-cancel" title="Cancel"></span>
                        </a>
                    </div>
                </form>
                {{else}}

                <div class="nav-group">
                    <a class="js-menu nav-item" href="#">
                        <span class="icon-list-unordered" title="Show menu"></span>
                    </a>
                </div>

                {{#if showProductsList}}
                    <h1 class="js-edit-list title-page">{{name}}
                        - Dodaj produkty</h1>
                    {{else}}
                    {{#if showFridgeOptions}}
                        <h1 class="js-edit-list title-page">{{name}}
                            - Opcje</h1>
                        {{else}}
                        <h1 class="js-edit-list title-page">{{name}}
                            <span class="badge">{{productsCount}}</span>
                        </h1>
                    {{/if}}
                {{/if}}

                {{#if currentUser }}
                    <div class="nav-group right">
                        {{#if showModalCloseButton}}
                            <a class="js-close-modal-button nav-item">
                                <span class="icon-close" title="Close"></span>
                            </a>
                        {{else}}
                            <a class="js-add-product-button nav-item">
                                <span class="icon-add" title="Add"></span>
                            </a>
                            <a class="js-fridge-options-icon nav-item">
                                <span class="icon-cog" title="Options"></span>
                            </a>
                        {{/if}}

                    </div>
                {{/if}}
            {{/if}}
        </nav>

        <div class="content-scrollable">
            {{#if showProductsList}}
                <div class="products-list list">
                    <div class="container-fluid">
                        <input class="form-control" id="products-list-filter" placeholder="search for product" style="margin: 0 0 15px 0;" type="text">
                        {{#each categories}}
                            <ol class="breadcrumb">
                                <li>
                                    <b>{{this}}</b>
                                </li>
                            </ol>
                            <div class="row">
                                {{#each products this}}
                                    <div class="product col-md-2 col-sm-4 col-xs-6 text-center" style="margin-bottom: 15px;">
                                        <img alt="{{name}}" class="img-responsive" src="{{src}}" style="margin: 0 auto;"/>
                                        <section>{{name}}</section>
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                {{#if showFridgeOptions}}
                    {{> fridgeOptions}}
                    {{else}}
                    {{> fridgeProducts}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</template>
