// Light
@font-face {
    font-family: "Open Sans";
    src: url("font/OpenSans-Light-webfont.eot");
    src: url("font/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'), url("font/OpenSans-Light-webfont.woff") format('woff'), url("font/OpenSans-Light-webfont.ttf") format('truetype'), url("font/OpenSans-Light-webfont.svg#OpenSansLight") format('svg');
    font-weight: 200;
    font-style: normal;
}

// Regular
@font-face {
    font-family: "Open Sans";
    src: url("font/OpenSans-Regular-webfont.eot");
    src: url("font/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("font/OpenSans-Regular-webfont.woff") format('woff'), url("font/OpenSans-Regular-webfont.ttf") format('truetype'), url("font/OpenSans-Regular-webfont.svg#OpenSansRegular") format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}
