.position(@type; @top: auto; @right: auto; @bottom: auto; @left: auto; @width: auto; @height: auto) {
    position: @type;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
    width: @width;
    height: @height;
}
