.type-regular() {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: 400;
}
.type-light {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

// Large fonts
.font-l3() {
    font-size: 56px;
    line-height: 64px;
}
.font-l2() {
    font-size: 48px;
    line-height: 56px;
}
.font-l1() {
    font-size: 40px;
    line-height: 48px;
}

// Medium fonts
.font-m3() {
    font-size: 28px;
    line-height: 32px;
}
.font-m2() {
    font-size: 24px;
    line-height: 28px;
}
.font-m1() {
    font-size: 20px;
    line-height: 24px;
}

// Small fonts
.font-s3() {
    font-size: 16px;
    line-height: 24px;
}
.font-s2() {
    font-size: 14px;
    line-height: 20px;
}
.font-s1() {
    font-size: 12px;
    line-height: 16px;
}
